[Desktop Entry]
Name=TxPPM
Comment=RC Transmitter PPM Signal to joystick converter
Exec=/usr/bin/ppm2tx-gui
Terminal=false
Type=Application
Icon=icon.png
Encoding=UTF-8
Categories=Utility
